body,
html {
  height: 100%;
  margin: 0;
  color: rgb(54, 54, 54) !important;
  font-family: "Open Sans", sans-serif !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.bg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  background: url("/img/bg-vertical.png") no-repeat center center;
  background-size: cover;

  transform: scale(1.1);
}

#inline-text {
  color: #29abe2 !important;
}

#inline-text:hover {
  color: #ffc65f;
}

#nav-bg {
  z-index: 1;
  position: absolute;
  top: 25%;
  right: 10%;
  width: 750px;
  max-width: 80%;
}

nav {
  display: block;
  position: fixed;
  width: 100vw;
  padding-top: 10px;
  z-index: 99;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.9);
  /* -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15)); */
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-container a {
  color: #29abe2;
  padding-top: 10px;
  padding-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.nav-container a:hover {
  color: #ffc65f;
  transition: 0.3s ease-in-out;
}

#home-btn {
  width: 50px;
  height: 50px;
  background: url("/img/minimal.svg") no-repeat center center;
  background-size: contain;
  margin-bottom: 15px;
}

#home-btn:hover {
  transform: scale(1.1);
}

#splash-text-container {
  position: absolute;
  left: 50px;
  bottom: 50px;
  text-align: left;
  width: 500px;
  max-width: 90%;
}

#splash-text-container p {
  margin-bottom: 40px;
}

.button-outline {
  color: #29abe2;
}

.button-filled {
  background-color: #29abe2;
  color: white;
}

.bn {
  font-weight: 800;
  padding: 8px 40px;
  margin-right: 20px;
  border: 2px solid #29abe2;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.bn:hover {
  text-decoration: none;
  color: white;
  border-color: #ffc65f;
  background-color: #ffc65f;
  transition: 0.3s ease-in-out;
}

.inline a {
  font-weight: 900;
  color: #29abe2;
}

.header-section {
  height: 90%;
}

.section {
  min-height: 60%;
  margin-top: 50px;
  padding: 100px 0 100px 0;
}

.container-centered {
  width: 50vw;
  margin: auto;
  padding-top: 125px;
  padding-bottom: 125px;
  /* background-color: #29abe2; */
}

#about {
  padding-top: 100px;
}

#faq {
  text-align: center;
}

#faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 800px;
  width: 90%;
}

.faq-element {
  width: calc(40% - 25px);
  max-width: 90%;
  text-align: left;
  margin-right: 25px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 100px;
  margin: 0 auto;
  /* grid-gap: auto; */
  /* background-color: white; */
}

.grid-item {
  text-align: center;
  margin-top: 10px;
}

.grid-item h4 {
  margin-top: 0;
  font-weight: 500;
  color: black;
}

.grid-item i {
  margin-bottom: 15px;
  font-size: 65px;
  color: #29abe2;
}

.footer {
  background-color: #29abe2;
  height: 60px;
}

#footer-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 10px;
  /* margin: 0 auto; */
  justify-content: center;
  padding: 13px 0;
}

.footer-grid-item {
  text-align: center;
  /* margin-top: auto; */
}

.footer-grid-item h4 {
  margin-top: 0;
  font-weight: 500;
  color: black;
}

.footer-grid-item i {
  margin: 0;
  /* margin-top: auto;
  margin-bottom: auto; */
  font-size: 32px;
  color: white;
}

.footer-grid-item i:hover {
  color: #ffc65f;
}

#footer-copyright {
  color: white;
  background-color: #29abe2;
  text-align: center;
  padding-bottom: 15px;
}

#footer-copyright h5 {
  font-weight: 300;
}
