body,
html {
  height: 100%;
  margin: 0;
  color: rgb(54, 54, 54) !important;
  font-family: "Open Sans", sans-serif !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800 !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.bg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  background: linear-gradient(
    270deg,
    rgb(245, 137, 178),
    rgb(233, 204, 153) 60%
  );

  transform: scale(1.1);
}

#inline-text {
  color: rgb(237, 76, 139) !important;
}

#inline-text:hover {
  color: rgb(237, 76, 139);
}

#nav-bg {
  z-index: 1;
  position: absolute;
  top: 15%;
  right: 10%;
  width: 1000px;
  max-width: 80%;
}

nav {
  display: block;
  position: fixed;
  width: 100vw;
  padding-top: 10px;
  z-index: 99;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.92);
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-container a {
  color: rgb(237, 76, 139);
  padding-top: 10px;
  padding-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.nav-container a:hover {
  color: rgb(239, 190, 104);
  transition: 0.3s ease-in-out;
}

#home-btn {
  width: 50px;
  height: 50px;
  background: url("../img/logo.png") no-repeat center center;
  background-size: contain;
  margin-bottom: 15px;
}

#home-btn:hover {
  transform: scale(1.1);
}

#splash-text-container {
  position: absolute;
  left: 50px;
  bottom: 5vmin;
  text-align: left;
  width: 400px;
  max-width: 90%;
}

@media (max-width: 450px) {
  #splash-text-container {
    left: 15px;
  }
}

.button-outline {
  color: rgb(237, 76, 139);
}

.button-filled {
  background-color: rgb(237, 76, 139);
  color: white;
}

.bn {
  font-weight: 800;
  padding: 8px 40px;
  margin: 25px 0 25px 0;
  border: 2px solid rgb(237, 76, 139);
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.bn:hover {
  text-decoration: none;
  color: white;
  border-color: rgb(245, 137, 178);
  background-color: rgb(245, 137, 178);
  transition: 0.3s ease-in-out;
}

.inline a {
  font-weight: 900;
  color: #31b414;
}

.header-section {
  height: 90%;
}

.section {
  min-height: 60%;
  margin-top: 50px;
  padding: 100px 0 100px 0;
}

.container-centered {
  width: 50vw;
  margin: auto;
  padding-top: 125px;
  padding-bottom: 125px;
}

#about {
  padding-top: 100px;
}

#faq {
  text-align: center;
}

#faq-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 800px;
  width: 90%;

  margin-top: 75px;
}

.faq-element {
  width: calc(40% - 25px);
  max-width: 90%;
  text-align: left;
  margin-right: 25px;
}

@media (max-width: 450px) {
  #faq-container {
    display: flex;
    margin-left: 10vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: inherit;
    width: 90%;

    margin-top: 25px;
  }

  .faq-element {
    width: 100%;
    text-align: left;
    margin-right: 25px;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 100px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  margin-top: 10px;
}

.grid-item h4 {
  margin-top: 0;
  font-weight: 500;
  color: black;
}

.grid-item i {
  margin-bottom: 15px;
  font-size: 65px;
  color: rgb(237, 76, 139);
}

@media (max-width: 450px) {
  .grid {
    /* display: relative;*/
    grid-template-columns: none;
    /* grid-gap: none;*/
    margin: 0 auto;
  }

  .grid-item {
    text-align: center;
    margin-top: 10px;
  }

  .grid-item h4 {
    margin-top: 0;
    font-weight: 500;
    color: black;
  }

  .grid-item i {
    margin-bottom: 15px;
    font-size: 65px;
    color: rgb(237, 76, 139);
  }
}

#sponsor-logos {
  display: flex;
  margin: 0 0 75px 0;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

#sponsor-logos img {
  padding: 10px;
  width: 400px;
}

#amazon p {
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 18px;
  font-weight: 800;
  opacity: 0.4;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(237, 76, 139);
  height: 60px;
}

.footer-short {
  background-color: rgb(237, 76, 139);
  height: 60px;
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

#footer-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 10px;
  justify-content: center;
  padding: 13px 0;
}

.footer-grid-item {
  text-align: center;
}

.footer-grid-item h4 {
  margin-top: 0;
  font-weight: 500;
  color: black;
}

.footer-grid-item i {
  margin: 0;
  font-size: 32px;
  color: white;
}

.footer-grid-item i:hover {
  color: rgb(239, 190, 104);
}

#footer-copyright {
  color: white;
  background-color: rgb(237, 76, 139);
  text-align: center;
  padding-bottom: 15px;
}

#footer-copyright h5 {
  font-weight: 300;
}

.play {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 90;
}

.circle {
  background: url("../img/circle.svg") no-repeat center center;
  background-size: cover;
}

.container-liveHead {
  padding-top: 75px;
  margin-left: 5%;
  white-space: nowrap;
}

.liveLogo {
  height: 150px;
  width: 150px;
}

.liveTxt {
  font-weight: 800 !important;
  font-size: 3.4em;
}

@keyframes blinks {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

.blinking {
  margin-left: 7px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  opacity: 0.25;
  background-color: rgb(237, 76, 139);
  display: inline-block;
  -webkit-animation: blinks 1.7s infinite;
  -moz-animation: blinks 1.7s infinite;
  -o-animation: blinks 1.7s infinite;
  animation: blinks 1.7s infinite;
}

.liveSection {
  width: 86%;
  margin-left: 7%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.liveSectionHeader {
  margin-top: 50px;
  width: 86%;
  margin-left: 7%;
  font-size: 2em;
  font-weight: bold;
}

.liveSubsection {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: rgb(237, 76, 139);
  width: 43%;
  margin-left: 5%;
  margin-top: 25px;
  min-width: 350px;
}

.schedule {
  max-height: 500px;
  background-color: #ffffff66;
  padding-top: 0.1px;
  border: #555555 3px solid;
  border-radius: 3px;
  overflow: scroll;
  white-space: noWrap;
}

.schedule::-webkit-scrollbar {
  display: none;
}

.schedule {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.event {
  color: rgb(54, 54, 54);
  font-weight: normal;
  font-size: 0.6em;
  background-color: #88888822;
  margin: 10px 0;
}

.time {
  width: 49%;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

.eventName {
  display: inline-block;
  width: 49%;
  text-align: left;
  white-space: normal;
}

.announcements ul {
  font-size: 0.6em;
  text-align: left;
  color: rgb(54, 54, 54);
  font-weight: normal;
  margin-bottom: 100px;
}

#hapnow {
  color: rgb(54, 54, 54);
  font-size: 0.8em;
  font-weight: normal;
}

.liveText {
  color: rgb(54, 54, 54);
  text-align: left;
  font-size: 0.5em;
  font-weight: normal;
}

.prize {
  background-color: #55555555;
  padding: 15px;
  min-width: 250px;
  max-width: 22%;
  text-align: center;
  margin-bottom: 80px;
}

.prizeType {
  font-size: 1.7em;
  font-weight: bold;
}

.prizeName {
  margin-top: 10px;
  font-size: 1.2em;
}

.prize img {
  opacity: 80%;
  max-height: 250px;
}

.team-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  margin: 25px;
  text-align: center;
  cursor: pointer;
}

.static {
  cursor: default !important;
}

.member-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(237, 76, 139);
  object-fit: cover;
}

.member h4 {
  margin-top: -18px;
  color: #444444;
}

#content-wrap {
  padding-bottom: 60px;
  overflow: auto;
}

.modal {
  display: block;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  display: block;
  float: right;
  font-size: 28px !important;
  font-weight: bold;
  cursor: pointer;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 60% !important;
  display: block !important;
  overflow: auto;
}

.modal-content > img {
  float: right;
}

.modal-social {
  display: flex;
  flex-direction: column;
}

.modal-social div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-social img {
  padding: 15px 20px;
  width: 100px;
}

.social:hover .bubble {
  opacity: 1;
}

.social {
  position: relative;
  align-items: center;
  flex-direction: column;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.bubble {
  position: absolute;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  min-width: 100%;
  text-align: center;
  background: #000000;
  border-radius: 0.4em;
}

.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #000000;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  text-align: center;
}

.bubble p {
  margin: 3px 5px;
  color: white;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.button-icon {
  position: relative;
  background-color: rgb(237, 76, 139);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
