body, html {
    height: 100%;
    margin:0;
    color: #fff;
    font-family: 'Montserrat';
    /* position: relative; */
}

/* body {
    position: relative;
    top: 0%;
    left: 0%;
} */

a {
    color: #fff;
    text-decoration: none;
}

/* body {
    background: url('/images/splash-background.svg') no-repeat;
    background-size: cover;
    padding-bottom: 200px;
} */

#home {
    background: url('./images/splash-background.svg') no-repeat;
    background-size: cover;
    height: 100vh;
    /* position: absolute; */
    top: 0%;
    left: 0%;
    width: 100vw;
    /* padding-bottom: 200px; */
}

#header-left-curve {
    /* position: absolute; */
    top: 0%;
    left: 0%;
    height: 100vh;
}

#nav-bg{
    z-index: 1;
    position: fixed;
    top:0%;
    right:0%;
    width: 50vw;
    -webkit-filter: drop-shadow(0px 0px 4px gray);
    filter: drop-shadow(0px 0px 4px gray);
}

nav {
    position: fixed;
    /* padding: 40px; */
    z-index: 99;
    top: 0.75vh;
    right: 0vw;
}

nav ul {
    list-style-type: none;
    float:right;
    /* width: 100%; */
}
nav ul li {
    float: left;
}

nav ul li a:hover{
    color: #DABFFF;
    font-weight: 500;
}

nav ul li a {
    color: #3E5087;
    padding: 0 30px;
}

#splash-text-container{
    position: absolute;
    top: 71vh;
    left: 2.5vw;
    text-align: left;
    width: 50%;
    /* margin-top: 73vh;
    margin-left: 2.5vw; */
    z-index: 100;
}

#splash-text-container h1 {
    font-size: 1.75em;
    color: #3E5087;
    margin-bottom: 0;
}

#splash-text-container h2 {
    font-size: 1.75em;
    color: #3E5087;
    font-weight: 300;
    margin-top:0;
}

#splash-text-container p {
    color: #3E5087;
    width: 23vw;
    margin-bottom: 40px;
}

.button-outline {
    color: #3E5087;
    padding: 8px 40px;
    border: 2px solid #3E5087;
    border-radius: 25px;
}

.button-outline:hover {
    font-weight: 500;
    font-size: 1.05em;
    /* color: #DABFFF; */
 }

.button-filled {
    padding: 8px 40px;
    border: 2px solid #3E5087;
    border-radius: 25px;
    background-color: #3E5087;
    color: white;
    /* border: none; */
}

.button-filled:hover {
    font-weight: 600;
    /* font-size: 1.05em; */
    /* color: #DABFFF; */
 }

#loginBtn {

}

#sponsorBtn {
    margin-left: 20px;
}

.inline a {
  font-weight: 900;
  color: #3E5087;
}

.section{
    /* position: static; */
    top: 10px;
    color: black;
}

.container-centered{
    width: 50vw;
    margin: auto;
    padding-top: 125px;
    padding-bottom: 125px;
    /* background-color: #3E5087; */
}

#about-text-container h1 {
    font-weight: 400;
    text-align: center;
}

#schedule-container h1 {
    font-weight: 400;
    text-align: center;
}

#faq-container h1 {
    font-weight: 400;
    text-align: center;
}

#sponsors-container h1 {
    font-weight: 400;
    text-align: center;
}

#event-description{
    color: dimgray;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.description{
    color: dimgray;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.divider-line{
    border: 2.5px dashed lightgray;
    border-radius: 10px;
    margin: 0 15vw;
    /* margin-bottom: 100px; */
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    margin: 0 auto;
    /* grid-gap: auto; */
    /* background-color: white; */
}

.grid-item{
    text-align: center;
    margin-top: 10px;
}

.grid-item h4{
    margin-top: 0;
    font-weight: 500;
    color: black;
}

.grid-item i{
    margin-bottom: 15px;
    font-size: 65px;
    color: #3E5087;
}

.footer {
    background-color: #263572;
    height: 60px;
}

#footer-grid{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 10px;
    /* margin: 0 auto; */
    justify-content: center;
    padding: 13px 0;
}

.footer-grid-item{
    text-align: center;
    /* margin-top: auto; */
}

.footer-grid-item h4{
    margin-top: 0;
    font-weight: 500;
    color: black;
}

.footer-grid-item i{
    margin: 0;
    /* margin-top: auto;
    margin-bottom: auto; */
    font-size: 32px;
    color: white;
}

.footer-grid-item i:hover{
    color: #DABFFF;
}

#footer-copyright{
    color: white;
    background-color: #263572;
    text-align: center;
    padding-bottom: 15px;
}

#footer-copyright h5{
    font-weight: 300;
}

/* RESPONSIVE SECTION */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    .mobile-topnav {
        display: block;
        overflow: hidden;
        background-color: #3E5087;
      }

    .mobile-topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .mobile-topnav a:hover {
        /* background-color: #fff; */
        /* color: black; */
        /* Removed due to hover persistence on iOS */
    }

    .active {
        background-color: #DABFFF;
        color: white;
        font-weight: 600;
    }

    .mobile-topnav .icon {
        display: none;
    }

    .mobile-topnav a {display: none;}
    .mobile-topnav a.icon {
        float: right;
        display: block;
    }

    .mobile-topnav.responsive {position: relative;}
    .mobile-topnav.responsive .icon {
        position: absolute;
        height: 15%;
        right: 0;
        top: 0;
    }
    .mobile-topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #header-left-curve{
        display:none;
    }

    #home{
        display:none;
    }

    #home-mobile{
        display: block;
    }

    #home-splash-mobile{
        display:block;
        background: url('./images/splash-background-centered.svg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 40vh;
        /* position: absolute; */
        width: 100vw;
    }

    #splash-text-container{
        position: static;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        z-index: 100;
    }

    #splash-text-container h1 {
        font-size: 1.5em;
        font-weight: 600;
        color: #3E5087;
        margin-bottom: 0;
    }

    #splash-text-container h2 {
        font-size: 1.5em;
        color: #3E5087;
        font-weight: 300;
        margin-top:0;
    }

    #splash-text-container p {
        color: #3E5087;
        width: 100%;
        margin-bottom: 40px;
    }

    #loginBtn {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
    }

    #sponsorBtn {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #faq-container{
        width: 90%;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, 50vw);
        grid-gap: 10px;
        align-items: center;
        justify-content: center;
        /* width: 90%; */
    }

    .container-centered{
        width: 80vw;
        margin: auto;
        padding-top: 55px;
        padding-bottom: 55px;
        /* background-color: #3E5087; */
    }

    .divider-line{
        display:block;
        margin: 0 10vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1112px) {
    #nav-bg{
        min-width: 70%;
    }
    nav {
        /* position: fixed; */
        float: right;
        min-width: 70%;
        /* padding: 40px; */
        z-index: 99;
        top: 0.75vh;
        right: 0vw;
    }

    nav ul {
        list-style-type: none;
        float:right;
        /* width: 100%; */
    }
    nav ul li {
        float: left;
    }

    nav ul li a:hover{
        color: #DABFFF;
        font-weight: 500;
    }

    nav ul li a {
        color: #3E5087;
        padding: 0 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200) {
}
