body, html {
    height: 100%;
    margin:0;
    /* color: #fff; */
    font-family: 'Montserrat';
}

#logo{
    max-width: 60px;
    margin: 10px auto;
}

#page-loader{
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("../images/plain-background.svg") no-repeat;
  background-size: cover;
}

#loader-text{
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-52%, -40%);
  color: #fff;
  font-size: 25px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #263572;
    position: fixed;
    height: 100%;
    overflow: auto;
    -webkit-filter: drop-shadow(0px 0px 4px gray);
    filter: drop-shadow(0px 0px 4px gray);
  }

  #logout-btn{
      position: fixed;
      width: 100%;
      bottom: 0px;
  }

  #logout-btn:hover{
    cursor: pointer;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: lightgray;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a i {
    display: inline;
    color: white;
    margin-right: 20px;
    /* padding: 16px; */
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #3E5087;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #5B6DBC;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 16px 16px;
    min-height: 100vh;
  }

  #greeting{
      margin-left: 25px;
      font-weight: 300;
  }

  #firstName{
      color: #5B6DBC;
      text-transform: uppercase;
  }

  /* #user-events{
    background-color: #fff;
    min-height: 300px;
    border-radius: 15px;
    width: 92%;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 0px 4px lightgray);
    filter: drop-shadow(0px 0px 4px lightgray);
  }

  #upcoming-events{
    background-color: #fff;
    min-height: 300px;
    border-radius: 15px;
    width: 92%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 0px 4px lightgray);
    filter: drop-shadow(0px 0px 4px lightgray);
  } */

  #promo-splash{
    background: url("../images/promo-splash.svg");
    border-radius: 15px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 450px; */
    min-height: 62vh;
    width: 92%;
    margin-top: 3.5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 0px 4px dimgray);
    filter: drop-shadow(0px 0px 4px dimgray);
  }

  #promo-container{
    /* width: 100%; */
    position: absolute;
    bottom: 75px;
    width: 30vw;
    left: 55%;
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  }

  #promo-container p{
    color: white;
  }

.button-filled {
    padding: 8px 40px;
    max-width: 100px;
    text-align: center;
    border: 2px solid #3E5087;
    border-radius: 25px;
    background-color: #3E5087;
    color: white;
    text-decoration: none;
    /* border: none; */
}

.button-filled:hover {
    font-weight: 600;
    /* font-size: 1.05em; */
    /* color: #DABFFF; */
 }

  .pane-label{
      color: dimgray;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 1px;
  }

  .pane-divider{
      width: 100%;
      border-color: lightgray;
      border-radius: 1px;
  }

  #actions-grid{
    display: grid;
    width: 100%;
    grid-gap: 30px;
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 30%);
  }

  .action-box{
    background-color: #263572;
    width: 95%;
    height: 22vh;
    border-radius: 15px;
    padding: 14px 16px;
    color: white;
    filter: drop-shadow(0px 2px 10px lightgray)
  }

  .action-box h2{
    margin:0;
    text-transform: uppercase;
  }

  .action-box-content{
    margin-top: 4vh;
    text-align: center;
    text-transform: uppercase;
  }

  .action-box-content i {
    font-size: 3vw;
    margin-bottom: 1vh;
  }

  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    #page-loader .sk-folding-cube{
      left: 44vw;
      top: 36vh;
    }
    
    #loader-text{
      margin: 0;
      position: absolute;
      top: 52%;
      left: 53%;
      width: 100%;
      text-align: center;
      transform: translate(-53%, -40%);
      color: #fff;
      font-size: 20px;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  @media not all and (min-resolution:.001dpcm) { 
    @media {
        #promo-container { 
          position: absolute;
          bottom: 30vh;
          left: 57vw;
          /* -webkit-transform: translateX(-50%);
          transform: translateX(-50%) */
        }
    }
}