@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

} */


h3{
    font-size: 25px;
    color:#ffffff;
    font-weight: 600;
}

.card-content p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card-details p {
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    font-weight: 400;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
  
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 40px;
    color: #37378b;
    line-height: 40px;
    margin: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will evenly distribute the cards */
    align-items: stretch; /* This will ensure that the cards start at the top */
    /* go back to space between once we have event cards with contnet */
    justify-content: center;
}

.card {
    flex: 0 0 calc(50% - 40px); /* Updated the percentage calculation */
    max-width: calc(50% - 40px); /* Updated the percentage calculation */
    width: 100%;
    border-radius: 25px;
    background: #33396F;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px; /* Left margin remains, but it'll be overwritten in media queries */
    margin-right: 20px; /* Added right margin for symmetry */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card:hover {
    transform: translateY(-10px);

}

.btn {
    border: none;
    outline: none;
    background: #0a103e;
    max-width: 120px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; /* Align text vertically in the center */
    align-self: flex-end; /* Align button to the right */
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}

.btn:hover {
    background: #F2EBDD;
    font-weight: 700;
    color: #0a103e;

}

@media(max-width: 969px) {
    .card {
        flex: 0 0 calc(50% - 40px); /* Updated the percentage calculation */
        max-width: calc(50% - 40px); /* Updated the percentage calculation */
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width: 768px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0; /* Removing the left margin on smaller screens */
        margin-right: 0; /* Removing the right margin on smaller screens */
        flex-direction: column;
        justify-content: flex-start;
    }
}

.card-image {
    width: 70px;  /* Adjust this value based on your preferred icon size */
    height: 70px;
    margin-left: 0px; /* Add some spacing between the details and the image */
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}