.landing-splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: #33396F;
  }
  
  .content-wrapper {
    padding: 2rem;
  }
  
  .year {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
  }

  .info {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.bc, .date {
  min-inline-size: min-content;
  white-space: nowrap;
  margin: 0 1rem;
}
  
  .title {
    font-family: 'Poppins', serif;
    font-weight: 900;
    font-size: 80px;
    margin-bottom: 1rem;
    perspective: 500px;
  }
  
  .hack, .the, .heights {
    font-size: calc(25px + 4vw);
    display: inline;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(30deg) rotateY(-30deg);
  }
  
  .heights {
    color: #F2EBDD;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1), 8px 8px 0px rgba(0, 0, 0, 0.1);
  }
  
  .register {
    font-family: 'Poppins', sans-serif;
    background-color: #33396F;
    color: #F2EBDD;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register:hover {
    background-color: #F2EBDD;
    color: #33396F;
  }
  
  @media only screen and (max-width: 767px) {
    .year {
      font-size: 18px;
    }
  
    .title {
      font-size: 72px;
    }
  
    .info {
      font-size: 18px;
    }
  
    .desktop-date {
      display: none;
    }
  
    .mobile-date {
      display: inline;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .desktop-date {
      display: inline;
    }
  
    .mobile-date {
      display: none;
    }
  }
  