.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3 / 2;
    flex-grow: 1;
    width: 80%;
    margin: auto;
    margin: 4rem auto;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.slide-hidden{
    display: none;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
    cursor:pointer;
}

.arrow-left{
    left: 1rem;
}

.arrow-right{
    right: 1rem;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator{
    background-color: #FFFFFF;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.5rem;
}

.indicator-inactive{
    background-color: grey;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.5rem;
    cursor: pointer;
}